<nav class="navber bg-transparent py-4 sm:py-6">
    <div class="container flex justify-between items-center">

        <h1><a class="navbar__brand" href="index.html">ALOHA</a>
        </h1>

        <a class="sm:hidden" href="index.html"> <span class="material-icons">
                close
            </span></a>


    </div>
</nav>