<nav class="navber ">
    <div class="container flex justify-between items-center">
        <div class="navbar-toggle" data-toggle="collapse">
            <div class="navbar-togglebtn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <h1><a class="navbar-brand" href="index.html">ALOHA</a>
        </h1>
        <div class="flex items-center">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class=" nav-item dropdown">
                        <a class="nav-link leading-none " href="#" data-toggle="dropdown">
                            <span class="material-icons">
                                language
                            </span>
                            <span class="material-icons">
                                arrow_drop_down
                            </span>
                        </a>
                        <ul class="dropdown__menu">

                            <li> <a class="dropdown__item" href="#">English</a></li>
                            <li><a class="dropdown__item" href="#">繁體中文</a></li>
                            <li> <a class="dropdown__item" href="#">簡體中文</a></li>

                        </ul>
                    </li>
                    <li class="nav-item "><a class="nav-link sm:hidden" href="index.html">Log out</a></li>

                </ul>
            </div>
            <div class="dropdown ">
                <a class="flex rounded hover:text-primary sm:py-3 sm:px-6 sm:hover:bg-secondary  sm:focus:bg-secondary sm:focus:text-primary"
                    href="#" data-toggle="dropdown">
                    <img src="assets/images/profile.jpg" class="w-6 h-6 rounded-full border-2 sm:mr-2" alt="">
                    <p class="hidden text-black sm:block">David Lin <span class="material-icons">
                            arrow_drop_down
                        </span></p>

                </a>
                <ul class="dropdown__menu right-0 left-auto">

                    <li><a class="dropdown__item" href="#">預約查詢</a></li>
                    <li><a class="dropdown__item" href="#">歷史查詢</a></li>
                    <li><a class="dropdown__item" href="#">登出</a></li>

                </ul>
            </div>
        </div>
    </div>
</nav>