<nav class="navber ">
    <div class="container flex justify-between items-center">
        <div class="navbar__toggle" data-toggle="collapse">
            <div class="navbar__togglebtn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <h1><a class="navbar__brand" href="index.html">ALOHA</a>
        </h1>

        <div class="collapse navbar__collapse">
            <ul class="navbar__nav">
                <li class=" nav__item dropdown">
                    <a class="nav__link leading-none " href="#" data-toggle="dropdown">
                        <span class="material-icons">
                            language
                        </span>
                        <span class="material-icons">
                            arrow_drop_down
                        </span>
                    </a>
                    <ul class="dropdown__menu">

                        <li class="dropdown__item"> <a href="#">English</a> </li>
                        <li class="dropdown__item"> <a href="#">繁體中文</a> </li>
                        <li class="dropdown__item"> <a href="#">簡體中文</a> </li>

                    </ul>
                </li>
                <li class="nav__item "><a class="nav__link" href="">Sign up</a></li>
                <li class="nav__item hidden sm:block"><a class="nav__link" href="login.html">Login</a></li>
            </ul>
        </div>
        <a href="login.html" class="hover:text-primary sm:hidden">Login</a>
    </div>
</nav>