@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;500;600;700;900&display=swap');



*:focus{
  outline:0 !important;
}
body{
  @apply overflow-x-hidden;
}
 
h1,h2,h3,h4,h5,h6 {
  @apply font-Raleway font-bold ;
  line-height: 1.2;
}
p {
  @apply font-sans text-dark;
}
sub, sup{
  font-size: 60%;
}
button{
   @apply focus:outline-none;
}
a{
  @apply block duration-500;  
}
img{
  @apply max-w-full h-auto object-cover object-center;
}
input{
  @apply w-full outline-none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
input[type=number] {
  @apply text-center;
  max-width: 56px;
}
input:disabled,input:read-only{
  @apply bg-transparent pointer-events-none;
}
label{
  @apply text-dark;
}
.material-icons{
  @apply text-black;
  line-height: 1 !important;
  vertical-align: text-bottom;
}

