.form-group{
  @apply mb-4;
  label{
    @apply  mb-1;
  }
}

.form-control{

   @apply w-full py-4 px-5 rounded border border-light  focus:bg-purple-100 focus:border focus:border-primary focus:shadow-inner ;
  
}
.form-danger{
  @apply border-red-300 border-2 focus:border-2 focus:bg-red-100 focus:border-red-300;
}
.form-inline{
  @apply flex ;
  .form-control{
    @apply rounded-r-none border-0;
  }
  
}
.form-inline{
  .form-danger{
    @apply border-red-300 border-2;
  }
}

.form-quantity{
  @apply flex;
}

.quantity-btn{
  @apply bg-transparent cursor-pointer leading-none;
 
   &:focus{
    @apply outline-none; 
   }
}

.form-check{
  @apply flex items-center  text-sm font-sans cursor-pointer mb-2 lg:text-base;
  span{
    @apply text-lg text-black  mr-2;
   
    vertical-align: sub;
   
  }
}
.form-checkbox{
  @apply rounded mr-2 border-2 border-black bg-transparent focus:border-black;

  &:checked{
    @apply text-primary border-primary;
  }
 
}


.ui-slider-horizontal{
  height: 2px;
}
.ui-widget.ui-widget-content{
  @apply border-0 ;
}
.ui-widget-content{
  @apply border-0 bg-gray-300;
}
.ui-widget-header{
  @apply border-0 bg-primary;
}
.ui-state-default,.ui-widget-content .ui-state-default{
  @apply w-4 h-4 border-0 bg-primary rounded-full;
  top:-7px;
}