
.slick-prev, .slick-next {
  @apply absolute z-1  w-6 h-6  bg-contain bg-no-repeat bg-center cursor-pointer text-transparent focus:outline-none;
  top: calc(50% - 12px);
  
}
.slick-prev{
  background-image: url(../images/arrow.svg);
  left: 5%;
  @screen lg{
    left: 15%;
  }
  @screen md{
    @apply w-12 h-12;
  }
}
.slick-next{
  background-image: url(../images/next.svg);
  right: 5%;
  @screen lg{
    right: 15%;
  }
  @screen md{
    @apply w-12 h-12;
  }
}

.slick--hCustom .slick-list,
.slick--hCustom .slick-track,
.slick--hCustom .slick-slide{
  height: 250px;
}