/* Slider cdn css */
.slick-slider
{
    position: relative;
    display: block;
    height: 100%;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    height: 100%;
    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

.slick-slide img
{
    display: block;
    height: 100%;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: flex;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Slider custom  css */
.slick-prev, .slick-next {
  @apply absolute z-1  w-6 h-6  bg-contain bg-no-repeat bg-center cursor-pointer text-transparent focus:outline-none;
  top: calc(50% - 12px);
  
}
.slick-prev{
  background-image: url(../images/arrow.svg);
  left: 5%;
  @screen lg{
    left: 15%;
  }
  @screen md{
    @apply w-12 h-12;
  }
}
.slick-next{
  background-image: url(../images/next.svg);
  right: 5%;
  @screen lg{
    right: 15%;
  }
  @screen md{
    @apply w-12 h-12;
  }
}
.card-noarrow-slick .slick-list,.card-slick  .slick-list{
  padding-left: 0 !important;
}

.card-slick .slick-prev{
  display: none !important;
}
.card-slick .slick-next{
  @apply  w-10 h-10 bg-secondary rounded-full;
  background-image: url(../images/black_arrow.svg);
  right: 10px;
  top:calc((100% - 100px)/2 );
}

.card__imgSlick .slick-arrow{
  @apply  w-5 h-5 rounded-full bg-secondary opacity-0 duration-300;
  @screen sm{
    @apply  w-8 h-8;
  }
  top:calc((100% - 40px)/2 + 20px);
}

.card__imgSlick .slick-next{
  background-image: url(../images/black_arrow.svg);
  right: 10px;
}
.card__imgSlick .slick-prev{
  background-image: url(../images/black_prev.svg);
  left: 10px;
}
.room-slick .slick-list,
.room-slick .slick-track,
.room-slick .slick-slide{
  height: 250px;
}